ul{
  position:absolute;
  top:.5208333333333334vw;
  right:0;
  margin:0;
  padding:0;
  width:5.208333333333334vw;
  height:2.7777777777777777vh;
  border-radius:.267vw;z-index:1;
  cursor:pointer;
  overflow:hidden
}
ul.active{
  border-color:#fff
}
ul li{list-style:none;width:5.208333333333334vw;
      height:5.555555555555555vh;
      text-align:center
      ;text-transform:uppercase;
      transition:.5s;
      font-family:gill sans,gill sans mt,Calibri,trebuchet ms,sans-serif
}
ul.active li{
  transform:translateY(-2.7777777777777777vh)
}
ul li span{
  font-family:gill sans,gill sans mt,Calibri,trebuchet ms,sans-serif;
  display:block;
  width:100%;
  height:2.7777777777777777vh;
  line-height:2.7777777777777777vh;
  font-weight:700;font-size:.9375vw;
  background:#fff;color:#262626
}
ul li span:nth-child(1){
  background:#262626;
  color:#fff
}

body {
  transition: background-color 0.3s ease;
}

.light {
  background-color: #ffffff;
  color: #000000;
}

.dark {
  background-color: #000000;
  color: #ffffff;
}



